body{
    background: linear-gradient(to right, #dbf1ff, #F0F0F0);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}




/*CABECALHO background-color: #F0F0F0;*/
nav {
    height: 20%;
    width: 100%;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background-color: #F0F0F0;
    overflow: hidden;
}

#foto_nav {
    color: black;
    padding-top: 2%;
    padding-left: 1%;
    border-radius: 2%;
    width: 29%;
    height: 100%;
    float: left;
}

#links {
    float: right;
    padding-top: 4%;
    margin-right: 4%;
}

#links a {
    color: #007EA7;
    text-decoration: none;
    padding: 1.5em;
}


#links a:hover {
    color: #003459;
}

.dropdown {
    display: inline-block;
}

.dropbtn {
    color: #007EA7;
    padding: 1.5em;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent; /* Removendo a cor de fundo padrão do botão */
}

.dropbtn:hover, .dropbtn:focus {
    color: #003459;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F0F0F0; /* Cor de fundo da dropdown */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #007EA7;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* FIM DO CABECALHO */



section{
    
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    border-radius: 18px;
    margin-left: 20%;
    margin-right: 20%;
    height: 300px;
    background-color: #F0F0F0;
    

}
section:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03)
}

h2:hover{
    transform: scale(1.5)
}


h2{
    margin-top: 4%;
}
 
h2 a{
    text-decoration: none;
    color: #003459;
}

.fotos {
    display: flex;
}

.fotos img {
    width: 20%; /* Garante que todas as imagens tenham a mesma largura */
    height: auto; /* Mantém a proporção original da imagem */
    border-radius: 18px;
    margin-left: 3%;
}

.fotos img:first-child {
    margin-left: 2%;
}





iframe{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    border-radius: 18px;
    
}

@media (max-width: 768px) {
    #fotosemapa {
        flex-direction: column; /* Mude para layout de coluna em telas menores */
    }
    .fotos {
        flex-direction: column;
    }
    .fotos img{
        width: 50%; /* Garante que todas as imagens tenham a mesma largura */
        height: auto; /* Mantém a proporção original da imagem */
        border-radius: 18px;
        margin-left: 3%;
    }
    iframe{
        flex-direction: column;
        height: 100px;
        width: 100px;
    }
    #maps{
        flex-direction: column;
        margin-left: -60%;
        margin-top: -20%;
    }
    #paragrafo {
        display: none;
    }
    section{
        height: 300%;
    }
}
 


#maps {
    flex-shrink: 50; /* Impede que o mapa encolha para ajustar ao espaço disponível */
    padding-left: 67%;
    margin-top: -25%;
    
    
}

.paragrafo{
    width: 58%;
    font-size: small;
    text-align: left;
    margin-left: 2%;
    
    
}







/* footer */

footer {
    background-color: #848484;
    color: #fff;
    padding: 2% 0;
    width: 100%;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5%;
}

.footer-logo img {
    width: 50px;
    height: auto;
}

.footer-logo {
    margin-left: 0;
}

.footer-bottom {
    text-align: center;
    width: 100%;
}

.footer-bottom p {
    margin: 0;
}


.footer-paginas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -1%;
    padding-left: 25%;
    flex-wrap: wrap;
    padding-left: 0;
}


.footer-paginas a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px; /* Adicione margem entre os links */
}