body{
    background: linear-gradient(to right, #dbf1ff, #F0F0F0);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}



nav {
  height: 20%;
  width: 100%;
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  background-color: #F0F0F0;
  overflow: hidden;
}

#foto_nav {
  color: black;
  padding-top: 2%;
  padding-left: 1%;
  border-radius: 2%;
  width: 29%;
  height: 100%;
  float: left;
}

#links {
  float: right;
  padding-top: 4%;
  margin-right: 4%;
}

#links a {
  color: #007EA7;
  text-decoration: none;
  padding: 1.5em;
}

#links a:hover {
  color: #003459;
}





.gallery img {
    width: 550px;
    height: 300px;
    margin-left: 1%; 
    margin-top: 1%;
    box-shadow: 0 20px 25px rgba(0, 0, 0, .3);
    border-radius: 18px;
    
}


.gallery-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
}


.gallery-row img:first-child {
    margin-left: 1%; 
}

.gallery-row img:last-child{
    margin-right: 1%;
    margin-bottom: 1.5%;
}







                                                  /* footer */



footer {
    background-color: #848484;
    color: #fff;
    padding: 20px 0;
}
  
  .footer-container {
    display: flex;
    height: 50px;
  }
  
  .footer-logo img {
    width: 50px; 
    height: auto;
    
  }

.footer-logo{
    margin-left: 5%;
    margin-top: -0.5%;
}

  
  .footer-bottom {
    text-align: center;
    height: 2%;
  }
  
  .footer-bottom p {
    margin: 0;
  }

  .footer-info {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-top: -1%;
  }


.footer-info a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}

.footer-paginas {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    margin-left: 45%;
    margin-top: -1%;
  }


.footer-paginas a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}