body{
    background: linear-gradient(to right, #dbf1ff, #F0F0F0);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}


nav {
    margin-bottom: 0;
    height: 120px;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background-color: #F0F0F0;
}

#foto_nav {
    color: black;
    padding-top: 25px;
    padding-left: 10px;
    border-radius: 25px;
    width: 400px;
}

#links {
    float: right;
    padding-top: 60px;
    margin-right: 4%;
}

#links a {
    color: #007EA7;
    text-decoration: none;
    padding: 20px;
}
#links a:hover{
  color: #003459;
}











form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}















































footer {
    background-color: #848484;
    color: #fff;
    padding: 20px 0;
    margin-top: 2%;
    margin-bottom: 0;
}
  
  .footer-container {
    display: flex;
    height: 50px;
  }
  
  .footer-logo img {
    width: 50px; 
    height: auto;
    
  }

.footer-logo{
    margin-left: 5%;
    margin-top: -0.5%;
}

  
  .footer-bottom {
    background-color: #545454;
    text-align: center;
    height: 2%;
  }
  
  .footer-bottom p {
    margin: 0;
  }

  .footer-info {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-top: -1%;
  }


.footer-info a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}

.footer-paginas {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    margin-left: 45%;
    margin-top: -1%;
  }


.footer-paginas a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}





h1 {
  color: #003459;
  text-align: center;
  filter: drop-shadow(20px 7px 5px #003459);
}
  


form{
  border-radius: 18px;
  background-color: white;
  box-shadow: 0 0 30px #003459;
}

label {
  margin: 10px;
}


input {
  margin: 10px;
  padding: 5px;
  max-width: 80%;
}


button {
  background-color: #003459;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
 

button:hover {
  background-color: #00233c;
}


#results {
  text-align: center;
  margin: 20px;
}